{{ define "main" }} {{ partial "about.html" .}} {{ if .Site.Params.showSkills }}
{{ partial "portfolio/skills.html" . }} {{ end }} {{ if
.Site.Params.showProjects }} {{ with .Site.GetPage "section" "projects" }} {{
.Scratch.Set "sectionId" "projects" }} {{ partial "sectionSummary" . }} {{ end
}} {{ end }} {{ if .Site.Params.showOpenSource }} {{ with .Site.GetPage
"section" "projects/contributions" }} {{ .Scratch.Set "sectionId" "open" }} {{
partial "sectionSummary" . }} {{ end }} {{ end }} {{ if
.Site.Params.showPublications }} {{ with .Site.GetPage "section" "publications"
}} {{ .Scratch.Set "sectionId" (default "Publications"
.Site.Params.publicationsAlternateName) }} {{ partial "sectionSummary" . }} {{
end }} {{ end }} {{ if .Site.Params.showExperience }} {{ partial
"portfolio/experience.html" . }} {{ end }} {{ if .Site.Params.showEducation }}
{{ partial "portfolio/education.html" . }} {{ end }} {{ if .Site.Params.showBlog
}} {{ with .Site.GetPage "section" "blog" }} {{ .Scratch.Set "sectionId" "blog"
}} {{ partial "sectionSummary" . }} {{ end }} {{ end }}
<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="classes">
  <div class="my-auto" id="Classes-content">
    <h2 class="mb-5">Classes</h2>

    <p>
      Live classes will continue once it's safe again. I also run the
      <a href="https://www.meetup.com/Svelte-Society-Bay-Area"
        >Bay Area Svelte Meetup</a
      >, which is meeting remotely. It's beginner friendly and I love to see you
      there.
    </p>
  </div>
</section>
{{ end }}
